
name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '11 1,9,17 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    # - name: Fetch latest data mestske-casti.csv
    #  run: |-
    #    curl "https://share.uzis.cz/s/dCZBiARJ27ayeoS/download?path=%2F&files=mestske-casti.csv" > mestske-casti.csv
    - name: Fetch latest data https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/mestske-casti.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/mestske-casti.csv" > mestske-casti.csv
    - name: Fetch latest data obec.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/obce.csv" > obec.csv
        HEADER=`head -n 1 obec.csv`
        echo $HEADER > header.csv
        N1=`grep -nr 533416 obec.csv | gawk '{print $1}' FS=":" | tail -n 1`
        N2=`grep -nr 576689 obec.csv | gawk '{print $1}' FS=":" | tail -n 1`
        TOTAL=`wc -l obec.csv | cut -f1 -d' '`
        head -$N1 obec.csv > obec_1.csv
        head -n $N2 obec.csv | tail -n `expr $N2 - $N1` > obec_2_tmp.csv
        cat header.csv obec_2_tmp.csv > obec_2.csv
        tail -n `expr $TOTAL - $N2` obec.csv > obec_3_tmp.csv
        cat header.csv obec_3_tmp.csv > obec_3.csv
        rm obec.csv obec_2_tmp.csv obec_3_tmp.csv header.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/testy.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/testy.csv" > testy.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakaza.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakaza.csv" > nakaza.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakazeni-vyleceni-umrti-testy.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakazeni-vyleceni-umrti-testy.csv" > nakazeni-vyleceni-umrti-testy.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/zakladni-prehled.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/zakladni-prehled.csv" > zakladni-prehled.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/osoby.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/osoby.csv" > osoby.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/kraj-okres-nakazeni-vyleceni-umrti.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/kraj-okres-nakazeni-vyleceni-umrti.csv" > kraj-okres-nakazeni-vyleceni-umrti.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/vyleceni.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/vyleceni.csv" > vyleceni.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/umrti.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/umrti.csv" > umrti.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/pomucky.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/pomucky.csv" > pomucky.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/orp.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/orp.csv" > orp.csv
    - name: Fetch latest https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_CR.csv
      run: |-
        curl "https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_CR.csv" > pes_CR.csv
    - name: Fetch latest https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_kraje.csv
      run: |-
        curl "https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_kraje.csv" > pes_kraje.csv
    - name: Fetch latest https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_okresy.csv
      run: |-
        curl "https://share.uzis.cz/s/BRfppYFpNTddAy4/download?path=%2F&files=pes_okresy.csv" > pes_okresy.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/testy-pcr-antigenni.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/testy-pcr-antigenni.csv" > testy-pcr-antigenni.csv
    - name: Fetch latest https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/hospitalizace.csv
      run: |-
        curl "https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/hospitalizace.csv" > hospitalizace.csv
    - name: Fetch latest data https://share.uzis.cz/s/ZEAZtS4dWQXKWF4/download
      run: |-
        curl "https://share.uzis.cz/s/ZEAZtS4dWQXKWF4/download" > covid-19-vakcinace-cr.csv
        
        
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
